*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVBAR */
.navbar-color{
    background-image: linear-gradient(#A130FF,#466CCF);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menuPagina a{
    color: #ffff;
}
.menuPagina a:hover{
    font-weight: bold;
    color: #ffff;
}
.navbar-brand{
    font-size: 1.5em;
    font-weight: bold;
}
.menuPagina{
    padding: 10px 70px;
}
.fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/* MAIN */
.background{
    background-image: url(https://images.pexels.com/photos/4974912/pexels-photo-4974912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh;
    background-size:cover;
    margin-top: 76px;
}

.entrada__info{
    background-color: #131212be;
    padding:50px ;
    height: 80vh;
}
.entrada__info h2, .entrada__info p {
    color: #ffff;
    text-align: center;
    margin: 30px 0;
}
.entrada__info-img{
    width: 5vw;
    margin-top: 30px;
}

.entrada__info div div p {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}

/* ARREGLOS RESPONSIVE */
@media (max-width:990px) {
    .entrada__info-img{
        width: 7vw;

    }
}
@media (max-width:768px) {
    .entrada__info-img{
        width: 10vw;

    }
}