*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVBAR */
.navbar-color{
    background-color:#F8F9FA;
    box-shadow: 0px 0px 10px #000000a4;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menuPagina a{
    color:#4361EE;
}
.menuPagina a:hover{
    font-weight: bold;
    color: #4361EE;
}
.navbar-brand{
    font-size: 1.5em;
    font-weight: bold;
}
.menuPagina{
    padding: 10px 70px;
}
.fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
/* MAIN */
/* inicio */
.background{
    background-image: url(https://images.pexels.com/photos/4974912/pexels-photo-4974912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 76px;
    max-height: 900px;
}

.entrada__info{
    background-color: #212529b6;
    padding:50px ;
    max-height: 900px;
}
.entrada__info h2, .entrada__info p {
    color: #ffff;
    text-align: center;
    margin: 30px 0;
}
.entrada__info-img{
    width: 5vw;
    margin-top: 30px;
}

.entrada__info div div p {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
    padding: 0;
}
/* informacion */
.informacion{
    background-color: #E9ECEF;
    padding: 40px 0;
    height: auto;
}
.sider{
    background-color: #4361EE;
    height: 2.8em;
    width: 8px;
    margin: 14px;
    margin-bottom: 16px;
    border-radius: 1.5px;
}
.informacion__item{
    background-color: #ffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.431);
    border-radius: 15px;
    margin: 0 auto 40px auto;
    height: auto;
    padding:0;
}
.informacion__item-txt{
    padding: 50px 50px 66px 50px;
}
.informacion__item-txt h2{
    font-size: 1.8em;
    line-height: 1.05;
}
.informacion__item-txt p{
    margin-left: 35px;
    margin-top: 20px;
}
.informacion__item-img{
  background-image: url(../img/clientes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:15px;
  background-position: center;
}
/* ARREGLOS RESPONSIVE */
@media (max-width:990px) {
    .entrada__info-img{
        width: 7vw;

    }
    
}
@media (max-width:768px) {
    .entrada__info-img{
        width: 10vw;
    }
}